:root {
  --bg-color: #1c1e21;
  --div-color: rgb(36, 37, 38);
  --font-color: #aad8ff;
  --shadow-color: #202122;
  --select-color: #1479fb;
}

*::selection {
  background: var(--select-color);
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: "Cairo", sans-serif;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: var(--bg-color);
  margin: 0%;
  padding: 0%;
  text-align: center;
}

.container {
  margin: 0px auto;
  padding: 10px;
  overflow: hidden;
}

.header {
  box-shadow: 0px 1px 22px -7px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a .logo-shadow {
  width: 90px;
}

.header-text h3,
.header-text h4 {
  color: #aad8ff;
  font-family: "Cairo";
  font-size: 23px;
  margin: 0px;
}

.header-text {
  padding-top: 15px;
}

/* ////////////////////////////////////////////////// */
.landing .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100vh - 100px);
  gap: 40px;
}

.landing-img img {
  max-width: 370px;
  padding: 25px;
}

.landing-img {
  position: relative;
}

.landing-img::before {
  content: "";
  width: 200px;
  height: 200px;
  background: aqua;
  position: absolute;
  filter: blur(67px);
  z-index: -2;
  top: 30%;
  left: 25%;
}

.landing h2 {
  font-weight: 800;
}

.landing h2,
.landing p {
  color: #aad8ff;
  padding-top: 10px;
}

.landing p {
  padding: 10px;
  direction: rtl;
  line-height: 2;
  min-width: 320px;
  max-width: 450px;
}

.search .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

#myInput {
  background-position: 10px 12px;
  padding: 12px 20px 12px 40px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px -1px 22px -7px #000000;
  color: var(--font-color);
  text-align: center;
  outline: none;
  min-width: 270px;
  height: 46px;
}

#myUL {
  list-style-type: none;
  height: 41px;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0px 6px 12px -3px var(--font-color);
  direction: rtl;
  min-width: 270px;
  padding: 0px;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: var(--div-color);
  display: block;
  direction: rtl;
}

.alphapet .designed {
  text-decoration: none;
  font-size: 37px;
  letter-spacing: 4px;
  color: var(--font-color);
  font-family: "Righteous", cursive;
  animation: shadow 2s linear infinite;

  text-shadow: 0 0 0px var(--font-color);
}

@keyframes shadow {
  0%,
  100% {
    text-shadow: 0 0 0px var(--font-color);
  }

  15% {
    text-shadow: 0 0 2px var(--font-color);
  }

  50% {
    text-shadow: 0 0 4px var(--font-color);
  }

  75% {
    text-shadow: 0 0 2px var(--font-color);
  }

  85% {
    text-shadow: 0 0 2.5px var(--font-color);
  }
}

.alphapet .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.me {
  display: grid;
  justify-content: center;
  align-items: center;
  list-style: none;
  grid-template-columns: 60px 60px;
  grid-gap: 10px;
}

.me li {
  position: relative;
  display: block;
  color: rgb(255, 255, 255);
  font-size: 30px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  background: var(--bg-color);
  border-radius: 50%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}

.me li:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;

  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.5s;
}

.me li:nth-child(1):before {
  background: #26a4f2;
}

.me li:nth-child(2):before {
  background: #10ff58;
}

.me li:hover:before {
  filter: blur(3px);
  transform: scale(1.2);
  box-shadow: 0 0 15px #d35400;
}

.me li:nth-child(1):hover:before {
  box-shadow: 0 0 15px #26a4f2;
}

.me li:nth-child(2):hover:before {
  box-shadow: 0 0 15px #19ff2c;
}

.me li:nth-child(1):hover {
  color: #456cba;
  box-shadow: 0 0 15px #26a4f2;
  text-shadow: 0 0 15px #26a4f2;
}

.me li:nth-child(2):hover {
  color: #26a4f2;
  box-shadow: 0 0 15px hsl(125, 89%, 53%);
  text-shadow: 0 0 15px hsl(125, 89%, 53%);
}

.me li a .fa-facebook-f {
  color: #26a4f2;
  width: 18.75px;
  height: 30px;
}

.fa-whatsapp {
  color: rgb(0, 187, 0);
  width: 26.25px;
  height: 30px;
}

.cards {
  margin-top: 70px;
}

.div-box {
  position: absolute;
  width: 300px;
  height: 445px;
  min-width: 300px;
  background-image: url(../images/card.png);
  background-size: 299px;
  border-radius: 25px;
  box-shadow: 0px 9px 22px -7px;
  padding: 10px;
  overflow: hidden;
  background: rgb(32 38 46);
  z-index: -2;
  transition: 1s;
}

.div-box-hide {
  height: 0px;
  padding: 0px;
}

.my-photo {
  width: 155px;
  clip-path: circle();
  position: absolute;
  left: 26.9%;
  z-index: 2;
  top: 12.6%;
  animation: animatedd 4s linear infinite;
}

@keyframes animatedd {
  0%,
  50%,
  100% {
    top: 12.6%;
  }

  25% {
    top: 15.6%;
  }

  50% {
  }

  75% {
    top: 9.6%;
  }
}

.frame {
  width: 230px;
  z-index: 1000;
  position: relative;
  left: -6%;
  top: 9.5%;
  animation: animated 4s linear infinite;
}

@keyframes animated {
  0%,
  50%,
  100% {
    top: 9.5%;
  }

  25% {
    top: 12.5%;
  }

  50% {
  }

  75% {
    top: 6.5%;
  }
}

.div-box h2,
h4 {
  color: var(--font-color);

  word-spacing: 4px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 15px 0px;
}

.social::after {
  content: "";
  position: absolute;
  height: 320px;
  background: #1a1f27;
  width: 320px;
  top: 82%;
  border-radius: 50%;
  z-index: -1;
  border: 2px solid #26a4f2;
  outline: 10px solid #1a1f27;
  box-shadow: 0px -1px 20px 8px black;
}

.social::before {
  content: "";
  position: absolute;
  height: 320px;
  background: #1a1f27;
  width: 320px;
  top: -47%;
  border-radius: 50%;
  border: 2px solid #26a4f2;
  outline: 10px solid #1a1f27;
  box-shadow: 0px 5px 20px 8px black;
}

.social li {
  position: relative;
  display: block;
  color: rgb(255, 255, 255);
  font-size: 30px;
  height: 60px;
  width: 60px;

  line-height: 60px;
  border-radius: 50%;
  transition: 0.5s;
}

.social li:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;

  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.5s;
}

.social li:nth-child(1):before {
  background: #26a4f2;
}

.social li:nth-child(2):before {
  background: #10ff58;
}

.social li:hover:before {
  filter: blur(3px);
  transform: scale(1.2);
  box-shadow: 0 0 15px #d35400;
}

.social li:nth-child(1):hover:before {
  box-shadow: 0 0 15px #26a4f2;
}

.social li:nth-child(2):hover:before {
  box-shadow: 0 0 15px #19ff2c;
}

.social li:nth-child(1):hover {
  color: #456cba;
  box-shadow: 0 0 15px #26a4f2;
  text-shadow: 0 0 15px #26a4f2;
}

.social li:nth-child(2):hover {
  color: #26a4f2;
  box-shadow: 0 0 15px hsl(125, 89%, 53%);
  text-shadow: 0 0 15px hsl(125, 89%, 53%);
}

li a .fa-facebook-f {
  color: #26a4f2;
}

.fa-whatsapp {
  color: rgb(0, 187, 0);
}

.cards .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 300px;
  height: 445px;
  min-width: 300px;
  margin-bottom: 30px;
}

.div-box-back {
  position: absolute;
  width: 300px;
  min-width: 300px;
  background-image: url(../images/cardback.webp);
  background-size: 332px;
  background-position: -20px 0px;
  border-radius: 25px;
  box-shadow: 0px 9px 22px -7px;
  z-index: -3;
  transition: 1s;
  height: 0px;
  padding: 0px;
  overflow: hidden;
}

.div-box-back-hide {
  height: 445px;
  padding: 10px;
}

.div-box-back p {
  color: var(--font-color);
  line-height: 2;
  position: absolute;
  top: 61%;
  padding: 20px;
}

button {
  position: absolute;
  top: 51%;
  left: 81%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.card .fa-exchange-alt {
  font-size: 30px;
  color: var(--font-color);
  text-shadow: 0px 0px 2px;
  transform: rotate(270deg);
}

/* ////////////////////////////////////////////////////////// */
.toup {
  transition: 1s;
}

.toup a {
  position: fixed;
  top: 90%;
  right: 25px;
  font-size: 35px;
  color: #929292;
  transition: 0.5s;
  transform: rotate(317deg);

  z-index: 22;
}

.hideToTop {
  opacity: 0;
}

.toup a:hover {
  color: #26a4f2;
  transform: rotate(317deg) scale(1.2);
}

/* ////////////////////////////////////////////////////////// */
.audio-box .container {
  display: flex;
  position: relative;
  overflow: visible;
}

.audio-box .container audio {
  width: 60%;
  margin: 0 auto;
  box-shadow: 0px 6px 12px -2px var(--font-color);
  border-radius: 29px;
  min-width: 300px;
}

/* ////////////////////////////////////////////////////////// */
.loadpage {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 1s;
}

.loader {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: relative;
  border: 4px solid var(--font-color);
  animation: loader 2s infinite ease;
  border-radius: 4px;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--font-color);
  animation: loader-inner 2s infinite ease-in;
}

.loadpageHiden {
  opacity: 0;
  z-index: -9999;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
